

// #header {
//   background-color: navy;
//   height: 100px;
//   font-family: Helvetica;
//   text-align: left;
  
// }

h1 { 
  text-align: left;
  color: white;
  justify-content: center;
  font-size: 3em;
  margin-left: 30px;
  margin-bottom: 40px;
}
  
#header {
  background-color: navy;
  padding-top: 20px;
  padding-bottom: 20px;
}

#nav {
  display: inline;
  padding: 20px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;


}

#clickNav:hover{
  color: white;
  background-color:red;
  padding: 10px;
}

#clickNav {
  color:white;
  background-color: grey;
  padding: 10px;
}



