

// #header {
//   background-color: navy;
//   height: 100px;
//   font-family: Helvetica;
//   text-align: left;
  
// }

h1 { 
  text-align: left;
  color: white;
  justify-content: center;
  font-size: 3em;
  margin-left: 30px;
  margin-bottom: 40px;
}
  
#header {
  background-color: navy;
  padding-top: 20px;
  padding-bottom: 20px;
}



